.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3333334d;
}
.social{
  margin: .5rem 0;
}
.social-item{
  margin: 0 2rem;
  font-size: 1.5rem;
  color: #616161;
}
.social-item:hover{
  color: black;
}
.name{
  margin: 0;
}